<!DOCTYPE html>
<html>
<head>
    <title>Подтверждение электронной почты</title>
</head>
<body>
    <h2>Здравствуйте, {{ user.username }}!</h2>
    <p>Спасибо за регистрацию на нашем сайте.</p>
    <p>Пожалуйста, подтвердите свою электронную почту, перейдя по ссылке:</p>
    <a href="http://{{ domain }}{% url 'users:verify_email' uidb64=uid token=token %}">
        Подтвердить электронную почту
    </a>
    <p>Если вы не регистрировались на нашем сайте, проигнорируйте это письмо.</p>
</body>
</html>
