{% extends 'products/base.html' %}
{% load static %}

{% block title %}Восстановление пароля{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Восстановление пароля</h2>

    <!-- Проверка и вывод ошибок, если они есть -->
    {% if form.errors %}
        <div class="alert alert-danger">
            <strong>Пожалуйста, исправьте следующие ошибки:</strong>
            <ul>
                {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="email">Введите ваш Email:</label>
            <input type="email" name="email" class="form-control" id="email" required>
        </div>
        <button type="submit" class="btn btn-primary">Восстановить пароль</button>
    </form>

    <!-- Ссылка на страницу входа -->
    <p class="mt-3">
        Вернуться на <a href="{% url 'login' %}">страницу входа</a>.
    </p>
</div>
{% endblock %}
