{% extends 'products/base.html' %}
{% load static %}

{% block title %}Восстановление пароля{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Восстановление пароля</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="email">Введите ваш Email:</label>
            <input type="email" name="email" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Восстановить пароль</button>
    </form>
</div>
{% endblock %}
