{% extends 'products/base.html' %}

{% block content %}
<h2>Добавить продукт</h2>

<form method="post" enctype="multipart/form-data" class="form-group">
    {% csrf_token %}

    <!-- Если есть ошибки, выводим их здесь -->
    {% if form.errors %}
    <div class="alert alert-danger">
        <strong>Пожалуйста, исправьте следующие ошибки:</strong>
        <ul>
            {% for field in form %}
            {% for error in field.errors %}
            <li>{{ field.label }}: {{ error }}</li>
            {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    <!-- Отображаем форму с классами Bootstrap -->
    {{ form.as_p }}

    <button type="submit" class="btn btn-primary">Сохранить</button>
    <a href="{% url 'products:homepage' %}" class="btn btn-secondary">Отмена</a> <!-- Кнопка для отмены -->
</form>
{% endblock %}
