{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Магазин{% endblock %}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <!-- Подключаем Roboto -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">  <!-- Подключаем CSS файл -->
</head>
<body>
<!-- Включаем меню -->
{% include 'products/menu.html' %}

<div class="container">
    <!-- Блок для контента -->
    {% block content %}
    {% endblock %}
</div>
</body>
</html>
