{% extends 'products/base.html' %}
{% load static %}

{% block title %}{{ object.name }} - Подробности{% endblock %}

{% block content %}
<div class="container product-detail">
    <h1 class="display-4">{{ object.name }}</h1>
    <p class="lead">{{ object.description }}</p>
    <p class="price"><strong>Цена:</strong> ${{ object.price }}</p>

    {% if object.image %}
    <img src="{{ object.image.url }}" alt="{{ object.name }}" class="product-image img-fluid">
    {% endif %}

    <a href="{% url 'homepage' %}" class="back-button">Назад в магазин</a>
</div>
{% endblock %}
