{% extends 'products/base.html' %}

{% block title %}{{ object|yesno:"Редактирование версии,Создание версии" }}{% endblock %}

{% block content %}
<h2>{% if object %}Редактировать{% else %}Создать{% endif %} версию</h2>

{% if form.errors %}
    <div class="alert alert-danger">
        <ul>
            {% for field, errors in form.errors.items %}
                <li>{{ field }}: {{ errors|join:", " }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}  <!-- Отображаем все поля формы -->

    <button type="submit" class="btn btn-primary">Сохранить</button>
</form>

<a href="{% url 'products:product_detail' object.product.slug %}" class="btn btn-secondary">Назад к продукту</a>
{% endblock %}
